<% @posts.each do |post| %>
    <%= form_tag('/post_to_facebook', remote: true, :authenticity_token => true ) do %>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-image">
                        <% if post.image.url.include?("gif") %>
                            <img data-gifffer=<%= post.image.url %> />
                        <% elsif post.image.url.include?("mp4") %>
                            <video width="100%" controls>
                                <source src="<%= post.image.url %>" type="video/mp4">
                            </video>
                        <% else %>
                            <img src="<%= post.image.url %>" />
                        <% end %>
                    </div>
                    <div class="card-content">
                        <input name="url" type="hidden" value='<%= post.url %>'/>
                        <input name="image" type="hidden" value='<%= post.image.url %>'/>
                        <input name="title" type="hidden" value='<%= post.title %>'/>
                        <input name="id" type="hidden" value='<%= post.id %>'/>
                        <% if post.description != "" %>
                            <span class="card-title activator grey-text text-darken-4"><%= link_to(post.title, post.url) %><i class="material-icons right">more_vert</i></span>
                        <% else %>
                            <span class="card-title "><%= link_to(post.title, post.url) %></span>
                        <% end %>
                    </div>
                    <% if post.description != "" %>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= "#{post.title}" %><i class="material-icons right">close</i></span>
                        <p><%= post.description %></p>
                    </div>
                    <% end %>
                    <div class="card-action">
                        <input type="submit" class="btn waves-effect waves-light btn-large" value="Post to Facebookpage" onclick="Materialize.toast('Posted Post to your facebook page!', 3000)" >
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
