<% @posts.each do |post| %>
    <%= form_tag('/post_to_facebook', remote: true, :authenticity_token => true ) do %>
        <div class="row">
            <div class="col-sm-12 text-xs-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%= "#{post.title}" %> 
                        </h3>
                    </div>    
                    <input name="image" type="hidden" value=<%= post.image.url %>/>
                    <input name="title" type="hidden" value=<%= post.title %>/>
                    <div class="panel-body">
                        <p><%= image_tag(post.image.url) %></p>
                        <p><%= post.description %></p>
                        <input type="submit" class="btn btn-default" value="Post to Facebookpage" >
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>