<% @posts.each do |post| %>
    <%= form_tag('/post_to_facebook', remote: true, :authenticity_token => true ) do %>
        <div class="row">
            <div class="col-sm-12 text-xs-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%= "#{post.title}" %> 
                        </h3>
                    </div>    
                    <input name="url" type="hidden" value='<%= post.url %>'/>
                    <input name="image" type="hidden" value='<%= post.image.url %>'/>
                    <input name="title" type="hidden" value='<%= post.title %>'/>
                    <div class="panel-body">
                        <div style="background: url('<%=image_url(post.image.url)%>') center center no-repeat; min-height:600px;  background-size:contain;"></div>
                        <p><%= post.description %></p>
                        <input type="submit" class="btn-lg btn-block btn-primary" value="Post to Facebookpage" >
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>