<!DOCTYPE html>
<html>
<head>
  <title>Social DJ</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
</head>
<body>
    <%= render :partial => "posts/navbar" %>
    <div class="container">
        <div id="notice" class="alert alert-info navbar navbar-default navbar-fixed-top" style="display: none;"></div>
        <%= yield %>
    </div>
</body>
</html>
