<!DOCTYPE html>
<html>
<head>
  <title>Social DJ</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <%= javascript_include_tag "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <%= render :partial => "posts/navbar" %>
    <div class="container">
        <%= yield %>
    </div>
    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
            $('.materialboxed').materialbox();
            $('#feed').infinitePages({
                loading: function() {
                    return $(this).text('Loading next page...');
                },
                error: function() {
                    return $(this).button('There was an error, please try again');
                }
            });
        Gifffer();
        })
        $('form').change(function() {  
            var valuesToSubmit = $(this).serialize();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'), //sumbits it to the given url of the form
                data: valuesToSubmit,
                dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
            }).success(function(json){
                console.log("success", json);
            });
            return false; // prevents normal behaviour
        });
    </script>
</body>
</html>
