<!DOCTYPE html>
<html>
<head>
  <title>Social DJ</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
</head>
<body>
    <%= render :partial => "posts/navbar" %>
    <div class="container">
        <div id="notice" class="alert alert-info navbar navbar-default navbar-fixed-top" style="display: none;"></div>
        <%= yield %>
    </div>
    <script>
   
    var createImage = function (src) {
        var deferred = $.Deferred();
        var img = new Image();

        img.onload = function() {
            deferred.resolve(img);
        };
        img.src = src;
        return deferred.promise();
    };

    var startResize = function () {
        $.when(
            createImage($("#inputImage").attr('src'))
        ).then(resize, function () {console.log('error')});
    };

    var resize = function (image) {
        mainCanvas = document.createElement("canvas");
        mainCanvas.width = 1024;
        mainCanvas.height = 768;
        var ctx = mainCanvas.getContext("2d");
        ctx.drawImage(image, 0, 0, mainCanvas.width, mainCanvas.height);
        size = 200;
        while (mainCanvas.width > size) {
            mainCanvas = halfSize(mainCanvas);
        }
        $('#outputImage').attr('src', mainCanvas.toDataURL("image/jpeg"));
    };
    </script>
</body>
</html>
