<!DOCTYPE html>
<html>
<head>
  <title>Social DJ</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <%= javascript_include_tag "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <%= render :partial => "posts/navbar" %>
    <div class="container">
        <%= yield %>
    </div>
    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
            $('.materialboxed').materialbox();
            $('.modal').modal();
            $('#feed').infinitePages({
                loading: function() {
                    return $(this).text('Loading next page...');
                },
                error: function() {
                    return $(this).button('There was an error, please try again');
                }
            });
        Gifffer();
        })
    </script>
</body>
</html>
