<% @accounts.each do |account| %>
  <div class="col m4">
    <div class="card small">
        <div class="card-image">
          <%= image_tag(image_path(account["image"])) %>
          <a href="<%= account["link"].gsub(".rss","") %>" target="_blank">
          <span class="card-title" style="text-shadow: 2px 2px #000000;"><%= account["name"] %></span>
          </a>
        </div>
        <div class="card-content">
          <p><%= account["description"] == "" ? account["link"] : account["description"] %></p>
        </div>
        <div class="card-action">
        <% query = Post.where(:account => account.link).order_by(:time => "desc") %>
        <% total_posts = query.count %>
        <% if total_posts > 0 %>
          <% days = query.first.time - query.last.time %>
          <% frequency = '%.2f' % (total_posts/days.to_i+1) + " Posts per day" %>
        <% else %>
          <% frequency = "No Posts yet." %>
        <% end %>
        <% if current_user.posts.where(:account => account.link).count > 0 %>
          <p>Saved: <%= current_user.posts.where(:account => account.link).count %> (<%= '%.0f' % (current_user.posts.where(:account => account.link).count/Post.where(:account => account.link).count.to_f * 100 ) + " %" %>) | <%= frequency %>
          </p>
        <% else %>
          <p><%= frequency %></p>
        <% end %>
            <%= form_for account, id: account.id, namespace: account.id, url: "accounts/setup_account", remote: true, :authenticity_token => true do |form| %>
                <%= form.hidden_field :id %>
                <%= form.check_box :selected %>
                <%= form.label :selected %>
            <% end %>
        </div>
    </div>
  </div>
<% end %>